@import "normalize";
@import "foundation";
@import "font";

h1, h2, h3, h4, h5, h6 {
  word-spacing: 3px;
}

.ba-wrapper {
  overflow: hidden;
}

.top-bar {

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    right: 100%;
    width: 1000px;
    height: 61px;
    margin-right: 11px;
    background-color: #f2b19c;
  }

  &:after {
    @extend :before;
    right: auto;
    left: 100%;
    margin-left: 11px;
  }

  .name {

    h1 {

      a {
        color: $primary-color;
        padding: 0;
      }
    }
  }
}

.ba-slider {

  &__thumbnails {
    margin-top: $column-gutter;
  }

  %arrow {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80px;
    background-repeat: no-repeat;
    background-position: 50%;

    &:hover {
      background-color: rgba(0, 0, 0, .3);
    }
  }

  &__prev {
    @extend %arrow;
    left: 0;
    background-image: url(../img/icon/prev.svg);
  }

  &__next {
    @extend %arrow;
    right: 0;
    background-image: url(../img/icon/next.svg);
  }

}

.ba-slide {

  &__title {
    color: #FFF;
    margin: 0 0 10px;
  }

  &__caption {

    @media #{$medium-up} {
      margin: 30px;
      left: 0;
      max-width: 420px;
      width: auto !important;
    }

    :last-child {
        margin-bottom: 0;
    }

  }

}

.ba-cta {
  padding-top: rem-calc(40);
  
  &-item {

    &__img {
      float: left;
      margin-right: rem-calc(20);
    }

    &__text {
      clear: both;
      font-size: rem-calc(12);
      line-height: 1.5;
    }

  }

}
.ba-work {
  padding-bottom: rem-calc(40);

  &__title {
    background: url(../img/line.png) repeat-x;

    &-text {
      display: inline-block;
      background-color: #FFF;
      padding-right: rem-calc(20);
    } 
    
  }

  &-item {

    &__img {
      width: 100%;
    }

    &__desc {
      border: solid #dbdbdb;
      border-width: 0 1px 1px;
      padding: rem-calc(15);
    }

    &__title {
      color: #b9b9b9;
      margin: 0;
      line-height: 1;
    }

    &__date {
      color: $primary-color;
      font-family: "Bebas", $body-font-family;
      font-size: 11px;
      line-height: 1;
    }

  }
  
}

.ba-footer {
  $footer-color: #fff;
  $footer-font-size: rem-calc(12);

  color: $footer-color;
  background-color: #f2b19c;

  .row {
    position: relative;
    background-color: #fff;
    padding: rem-calc(30) rem-calc(11);

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0; bottom: 0; left: 11px; right: 11px;
      background-color: $primary-color;
    }
  }

  .columns {
    padding: 0 rem-calc(30);
  }

  &-col {

    &__title {
      color: $footer-color;
    }

  }

  p,
  a,
  li {
    font-size: $footer-font-size;
  }

  a {
    color: #f3b29d;

    &:hover {
      text-decoration: underline;
    }

    &[href^=mailto],
    &[href^=callto] {
      display: block;
      color: $footer-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.ba-social {
  margin-top: 20px;

  &__link {
    $width: 28px;
    $height: 26px;

    display: inline-block;
    width: $width;
    height: $height;
    background-image: url(../img/icon/social.png);
    border: 1px solid #fff;
    border-radius: 3px;

    &:hover {
      transform: translateY(-2px);
    }

    &_fb {
      border-color: #335393;
    }

    &_tw {
      border-color: #25849d;
      background-position: -$width 0;
    }

    &_ml {
      border-color: #898989;
      background-position: -($width * 2) 0;
    }

    &_rs {
      border-color: #ae4600;
      background-position: -($width * 3) 0;
    }

    &_vi {
      border-color: #007da5;
      background-position: -($width * 4) 0;
    }
  }
}
