@import "normalize";
@import "foundation";
@import "font";

h1, h2, h3, h4, h5, h6 {
  word-spacing: 3px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ba-wrapper {
  overflow: hidden;
}

.top-bar {

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    right: 100%;
    width: 1000px;
    height: 61px;
    margin-right: 10px;
    background-color: #f2b19c;
  }

  &:after {
    @extend :before;
    right: auto;
    left: 100%;
    margin-left: 10px;
  }

  .name {

    h1 {

      a {
        color: $primary-color;
        padding: 0;
      }
    }
  }
}

.ba-slider {

  &__thumbnails {
    margin-top: $column-gutter;
  }

  %arrow {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80px;
    background-repeat: no-repeat;
    background-position: 50%;

    &:hover {
      background-color: rgba(0, 0, 0, .3);
    }
  }

  &__prev {
    @extend %arrow;
    left: 0;
    background-image: url(../img/icon/prev.svg);
  }

  &__next {
    @extend %arrow;
    right: 0;
    background-image: url(../img/icon/next.svg);
  }

}

.ba-slide {

  &__title {
    color: #FFF;
    margin: 0 0 10px;
  }

  &__caption {

    @media #{$medium-up} {
      margin: 30px;
      left: 0;
      max-width: 420px;
      width: auto !important;
    }

    :last-child {
        margin-bottom: 0;
    }

  }

}

.ba-cta {
  padding-top: rem-calc(40);
  
  &-item {

    &__img {
      float: left;
      margin-right: rem-calc(20);
    }

    &__text {
      clear: both;
      font-size: rem-calc(12);
      line-height: 1.5;
    }

  }
}

.ba-work {

  &__title {
    background: url(../img/line.png) repeat-x;

    &-text {
      display: inline-block;
      background-color: #FFF;
      padding-right: rem-calc(20);
    } 
    
  }

  &-item {
    padding-bottom: rem-calc(40);

    &__link {

      &_img {
        display: block;
        position: relative;
        overflow: hidden;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 0; bottom: 0; left: 0; right: 0;
          transition: transform .3s ease-in;
        }

        &:before {
          transform: translate(120%, -120%) scale(2) rotate(45deg);
          background-color: #000;
          opacity: .75;
        }

        &:after {
          background: url(../img/icon/plus.svg) no-repeat 50%;
          transform: translate(100%, -100%);
        }

        &:hover {

          &:before {
            transform: translate(0, 0) scale(2) rotate(45deg);
          }

          &:after {
            transform: translate(0, 0);
          }
        }
      }
    }

    &__img {
      width: 100%;
    }

    &__desc {
      border: solid #dbdbdb;
      border-width: 0 1px 1px;
      padding: rem-calc(15);
    }

    &__title {
      color: #b9b9b9;
      margin: 0;
      line-height: 1;
    }

    &__date {
      color: $primary-color;
      font-family: "Bebas", $body-font-family;
      font-size: 11px;
      line-height: 1;
    }

  }
  
}

// Porfolio

.ba-page-title {
  margin-bottom: rem-calc(25);

  &__container {
    background-color: #e8603c;
    padding: 15px 20px 5px;
  }
  
  &__text {
    color: #fff;
    font-size: rem-calc(24);
    line-height: 30px;
  }
}

.ba-filter {
  @include sub-nav();

  dd {
    line-height: rem-calc(24);
    margin-left: rem-calc(15);

    &:first-child {
      margin-left: 0;
    }

    a {
      padding: 0;
    }
  }
}

// Portfolio Item

.ba-portfolio {

  &__img {
    margin-bottom: rem-calc(25);
  }
}

// About Us

.ba-about {

  &__img-wrapper {
    float: left;
    margin-right: rem-calc(20);
    padding: rem-calc(2);
    border: rem-calc(1) solid #ccc;
  }

  &__text {

  }

  &__letter {
    font-size: rem-calc(36);
    line-height: 1;
    color: $primary-color;
    float: left;
    margin-right: rem-calc(5);
  }

  &__bq {
    font-size: rem-calc(12);
    font-style: italic;
    margin-left: rem-calc(50);
  }
}

// Alert Box

.alert-box {
  font-size: rem-calc(14);
  font-style: italic;
  text-align: center;

  .close {
    display: none;
  }

  &.success {
    color: #98c601;
    background-color: #effeb9;
    border: 1px solid #98c601;
  }

  &.alert {
    color: #eb5439;
    background-color: #fbcbc1;
    border: 1px solid #eb5439;
  }

  &.warrning {
    color: #fab418;
    background-color: #ffe9ad;
    border: 1px solid #fab418;
  }

  &.info {
    color: #4d8fcb;
    background-color: #d1e4f3;
    border: 1px solid #4d8fcb; 
  }
}

// Map

.ba-map {
  width: 100%;
  height: 402px;
  // max-width: 675px;
  margin-bottom: 30px;
}

// Contact

address {
  font-style: normal;

  span {
    color: $primary-color;
    font-weight: 700;
  }
}

input[type=text],
input[type=email] {
  line-height: 18px;
  width: 100%;
  max-width: 216px;
}

textarea {
  height: 200px;
}

button {
  padding: rem-calc(15 32 10)
}

// Sidebar

.ba-widget {

  &__title {
    background: url(../img/line_small.png) repeat-x;

    &-text {
      display: inline-block;
      background-color: #FFF;
      padding-right: rem-calc(15);
    } 
  }

  &__categories {
    margin-bottom: rem-calc(30);

    li {

      a {
        color: #464646;

        &:hover {
          color: $primary_color;
        }
      }
    }
  }

  &__img {
    margin-bottom: rem-calc(5);
  }
}

// Blog

.ba-post {
  position: relative;
  margin-bottom: 55px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &__img {
    width: 100%;
    margin-bottom: 25px;
  }

  &:after {
    content: '';
    display: block;
    height: 14px;
    background: url(../img/line_small.png) repeat-x 0;
  }
}

.ba-post-type {
  position: absolute;
  left: -85px;
  width: 75px;
  height: 75px;
  line-height: 75px;
  background-color: $primary_color;
  text-align: center;

  &_img {
    vertical-align: middle;
  }
}

.ba-pager {
  @include pagination;
  margin: 50px 0;

  li {

    a {
      font: rem-calc(14) 'Bebas', $body-font-family;
      line-height: rem-calc(18);
      color: #fff;
      background-color: #f3b29d;
      border-radius: 0;
      padding-top: 6px;
      padding-bottom: 2px;

      &:hover {
        background-color: $primary-color;
      }
    }
  }
}

// Footer

.ba-footer {
  $footer-color: #fff;
  $footer-font-size: rem-calc(12);

  color: $footer-color;
  background-color: #f2b19c;

  .row {
    position: relative;
    background-color: #fff;
    padding: rem-calc(30) rem-calc(11);

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0; bottom: 0; left: 11px; right: 11px;
      background-color: $primary-color;
    }
  }

  .columns {
    padding: 0 rem-calc(30);
  }

  &-col {

    &__title {
      color: $footer-color;
    }

  }

  p,
  a,
  li {
    font-size: $footer-font-size;
  }

  a {
    color: #f3b29d;

    &:hover {
      text-decoration: underline;
    }

    &[href^=mailto],
    &[href^=callto] {
      display: block;
      color: $footer-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.ba-social {
  margin-top: 20px;

  &__link {
    $width: 28px;
    $height: 26px;

    display: inline-block;
    width: $width;
    height: $height;
    background-image: url(../img/icon/social.png);
    border: 1px solid #fff;
    border-radius: 3px;

    &:hover {
      transform: translateY(-2px);
    }

    &_fb {
      border-color: #335393;
    }

    &_tw {
      border-color: #25849d;
      background-position: -$width 0;
    }

    &_ml {
      border-color: #898989;
      background-position: -($width * 2) 0;
    }

    &_rs {
      border-color: #ae4600;
      background-position: -($width * 3) 0;
    }

    &_vi {
      border-color: #007da5;
      background-position: -($width * 4) 0;
    }
  }
}
